<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Use only for highly visual content.</li>
    <li>Do not hide critical text or system actions inside slides.</li>
    <li>Always provide manual navigation controls.</li>
    <li>Auto-play must pause unconditionally on hover.</li>
  </ul>
</div>
<hr class="my-5">