<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Trigger on click, not hover.</li>
    <li>Keep content under three sentences.</li>
    <li>Include a close button if interactive elements exist inside.</li>
    <li>Do not hide critical workflow steps here.</li>
  </ul>
</div>
<hr class="my-5" />