<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Fix to the top of the viewport.</li>
    <li>Keep top-level links strictly under six items.</li>
    <li>Collapse into a hamburger menu on mobile breakpoints.</li>
    <li>Do not clutter with secondary actions.</li>
  </ul>
</div>
<hr class="my-5" />