<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Use only for blocking actions that require a decision.</li>
    <li>Require explicit user dismissal (Save or Cancel).</li>
    <li>Do not stack multiple modals on top of each other.</li>
    <li>Keep content brief and focused on a single task.</li>
  </ul>
</div>
<hr class="my-5" />