.accordion {
  --bs-accordion-color: var(--bs-body-color);
  --bs-accordion-bg: var(--bs-body-bg);
  --bs-accordion-transition:
    color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: var(--bs-border-width);
  --bs-accordion-border-radius: var(--bs-border-radius);
  --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);

  --bs-accordion-btn-icon: url(/assets/images/arrow.svg);
  --bs-accordion-btn-active-icon: var(--bs-accordion-btn-icon);
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;

  --bs-accordion-btn-focus-box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: var(--bs-primary-text-emphasis);
  --bs-accordion-active-bg: var(--bs-primary-bg-subtle);

  &[data-variant='spaced'] {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .accordion-item {
      overflow: clip;
      border: solid 1px var(--bs-border-color);
      border-radius: var(--bs-border-radius);
    }
  }

  &[data-variant='borderless'] {
    .accordion-item {
      border: none;
    }

    .accordion-button {
      background-color: transparent;
    }
  }

  &.hide-arrow {
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;

    // Optional: If removing the arrow makes the padding look unbalanced,
    // you can adjust the right padding of the button here.
    // .accordion-button { padding-right: 1.25rem; }
  }
}
