<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Use for tasks taking longer than 1 second.</li>
    <li>Provide a text percentage or step count if possible.</li>
    <li>Never animate backwards.</li>
    <li>Swap to a distinct success state upon completion.</li>
  </ul>
</div>
<hr class="my-5" />