<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Use for data sets exceeding 50 rows.</li>
    <li>Show the current page number clearly.</li>
    <li>Provide explicit "First" and "Last" jump links.</li>
    <li>Never rely on infinite scroll for enterprise tabular data.</li>
  </ul>
</div>
<hr class="my-5" />