<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Group parallel content.</li>
    <li>Keep tab names to one or two words.</li>
    <li>Never use tabs for sequential, multi-step forms.</li>
    <li>Ensure the active state is visually distinct and high-contrast.</li>
  </ul>
</div>
<hr class="my-5" />