<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <!-- Left Start-->
    <div>
      <div class="h5">Header</div>
    </div>
    <!-- Left End -- -->
    <!-- Right Start -->
    <div></div>
    <!-- Right End -->
  </div>
  <div class="card-body">Boby</div>
  <div class="card-footer d-flex align-items-center justify-content-between">
    <!-- Left Start-->
    <div></div>
    <!-- Left End -- -->
    <!-- Right Start -->
    <div>
      <ui-buttons [text]="'Click me'"></ui-buttons>
    </div>
    <!-- Right End -->
  </div>
</div>
