<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Reserve for heavy secondary tasks (e.g., complex filters, global settings).</li>
    <li>Trap focus inside the panel while open.</li>
    <li>Provide a clear, undeniable "close" action.</li>
    <li>Do not overlap critical background data if the user needs to reference it.</li>
  </ul>
</div>
<hr class="my-5" />