<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Center precisely on the target element.</li>
    <li>Disable the parent container while spinning to prevent duplicate actions.</li>
    <li>Never show multiple spinners simultaneously on one view.</li>
    <li>Time out and show an explicit error after 10 seconds.</li>
  </ul>
</div>
<hr class="my-5" />