<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Combine functionally identical actions.</li>
    <li>Keep choices mutually exclusive.</li>
    <li>Do not group more than four items.</li>
    <li>Ensure uniform width if stacked vertically.</li>
  </ul>
</div>
<hr class="my-5" />