<card-gallery
  [componentDetails]="selectedComponent"
  [showImage]="false"
  [showName]="true"
  [showDescription]="true"
  [showLink]="false"
  customClass="component_page"
>
</card-gallery>
<hr class="my-5" />
<div class="whentouse">
  <div class="h2">Usage Rules</div>
  <ul class="markdown">
    <li>Cap lists at 10 items. Add a search filter if longer.</li>
    <li>Keep labels single-line. Truncate if necessary.</li>
    <li>Trigger only by explicit click, never by hover.</li>
    <li>Do not use for complex forms.</li>
  </ul>
</div>
<hr class="my-5">